@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

body {
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    line-height: 1.7em;
    color: #555;
}

/* Highlighted */
a.text-dark.highlighted{ background: #333; padding-left: 10px; padding-right: 10px; color: #fff !important; }

/* Letter spacing */
.ls-1{ letter-spacing: 1px; }
.ls-2{ letter-spacing: 2px; }
.ls-3{ letter-spacing: 3px; }
.ls-4{ letter-spacing: 4px; }